streamlit>=1.48.0
pandas>=2.3.1
ccxt>=4.4.99
prophet>=1.1.7
plotly>=6.2.0
requests>=2.32.4
statsmodels>=0.14.5
scikit-learn>=1.7.1
numpy>=1.24.0
darts>=0.30.0
pytorch-lightning>=2.0.0
torch>=2.0.0
talipp>=2.6.0
xgboost>=2.0.0
lightgbm>=4.0.0
optuna>=4.4.0
neuralprophet>=0.8.0
tensorflow>=2.19.0
